---
import '@fontsource/aileron/300.css';
import '@fontsource/aileron/400.css';
import '@fontsource/aileron/700.css';
import '../style.css';
import '@fontsource/fredoka-one';
import { App } from '../components/App';
---

<html lang='en'>
  <head>
    <!-- Google Analytics -->
    <script async src='https://www.googletagmanager.com/gtag/js?id=G-01R5C451W4'
    ></script>
    <script>
      // @ts-ignore
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        // @ts-ignore
        dataLayer.push(arguments);
      }
      // @ts-ignore
      gtag('js', new Date());
      // @ts-ignore
      gtag('config', 'G-01R5C451W4');
    </script>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <meta
      name='description'
      content='Visit a random website and discover something new'
    />
    <title>Visit A Random Website</title>
  </head>
  <body>
    <App client:only='react' />
    <style></style>
  </body>
</html>
