---
import '@fontsource/aileron/300.css';
import '@fontsource/aileron/400.css';
import '@fontsource/aileron/700.css';
import '../style.css';
import '@fontsource/fredoka-one';
import { App } from '../components/App';
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>Visit A Random Website</title>
  </head>
  <body>
    <App client:only='react' />
    <style></style>
  </body>
</html>
