@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Aileron', ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  background-color: black;
  color: white;
  animation: fadeIn ease 2s;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.visit-website {
  display: none;
}

.fade-in {
  display: none;
}

.found-link {
  display: none !important;
}

.url {
  user-select: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.DialogContent[data-state='open'] {
  animation: fadeIn 300ms ease-out;
}

.DialogContent[data-state='closed'] {
  animation: fadeOut 300ms ease-in;
}
